<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="/templates/cart/cart.css">
</head>
<body>
    <header>
        <nav>
            <a id="brand" href="/index.html">Tickehack</a>
            <ul>
                <li class="cart"><a href="/templates/cart/cart.html">cart</a></li> 
                <li class="book"><a href="/templates/booking/booking.html">bookings</a></li> 
            </ul>
        </nav>
    </header>
    <section class="cart-container">
        <div class="book">
            <p>No tickets in your cart.</p>
            <p>why not plan a trip?</p>
        </div>

    </section>
           
    
</body>
</html>